@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700");

.container {
  width: 65.3%;
  height: 74.1%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 5px black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

.sidebar {
  width: 29.4%;
  height: 94.6%;
  border: solid 5px white;
  border-radius: 20px;
  background-image: url(../assets/images/bg-sidebar-desktop.svg);
  background-size: cover;
}

ol {
  list-style: none; 
  list-style-position: decimal;
  padding: 12% 5.6%;
  font-size: 1rem;
  color: white;
}

ol li {
  counter-increment: list-counter; 
  position: relative; 
  padding-bottom: 15px;
  padding-left: 10px;
  display: flex;
}

ol li::before {
  content: counter(list-counter); 
  font-weight: bold; 
  border: 1px solid white; 
  border-radius: 50%; 
  padding: 10px 17px 5px 16px; 
  font-size: 1.25rem;
  font-weight: 700;
}

.step {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.step-description {
  font-size: 1.25rem;
  font-weight: 700;
  padding-top: 3px;
}

.form-section {
  width: 66.4%;
  height: 94.6%;
  display: flex;
  justify-content: center;
}

#personal-info {
  width: 74%;
  padding-top: 34px;
  padding-bottom: 15px;
  color: hsl(213, 96%, 18%);
}

#personal-info h1 {
  margin-bottom: -5px;
}

#personal-info p {
  color: grey;
}

#personal-info .input-section {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

#personal-info label {
  padding-bottom: 7px;
}

#personal-info input {
  margin-bottom: 20px;
  padding: 13px;
  border: lightgray solid 1px;
  border-radius: 10px;
}

.next-button {
  position: absolute;
  bottom: 5%;
  right: 9.8%;
  background-color: hsl(213, 96%, 18%);
  color: white;
  padding: 14px 22px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
}